@{
  ViewData["Title"] = "Home";
}

<div class="container bg-dark">
  <div class="row justify-content-center pt-3">
    <div class="col-auto pb-3">
      <img src="~/images/om_header.png" width="220" height="220" />
    </div>
    <div class="col-auto pb-3 my-auto">
      <h1 class="text-primary">ClaraOriginal</h1>
      <h4>I'm not special, I am orignal. The orignal.</h4>
    </div>
  </div>
</div>

<main class="pb-3 pt-3 bg-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="mr-1 clara-tile" src="~/images/GitHub-Mark.png" />
        <h2 class="text-primary">Github</h2>
        <p>Checkout my <a href="https://github.com/ultradr3mer">Github</a> Projects</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="mr-1 clara-tile" src="~/images/discord.png" />
        <h2 class="text-primary">Discord</h2>
        <p>Add me on Discord<br />SaferUse#5117</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 col-md-12">
        <h2>Background</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>Professional</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile" src="~/images/eEvolution.jpg" />
          <h3 class="text-primary">Senior Software Developer</h3>
          <h4>eEvolution GmbH &amp; Co. KG</h4>
          <p><span class="text-primary">Current</span> since Feb 2015</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h3>Educational</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile" src="~/images/UniHildesheim.png" />
          <h3 class="text-primary">Informationsmanagement und Informationstechnologie (IMIT)</h3>
          <h4>Universität Hildesheim</h4>
          <p><span class="text-primary">Current</span> since Oct 2021</p>
        </div>
      </div>
    </div>
</main>


