@{
  ViewData["Title"] = "Home";
}

<div class="container bg-dark">
  <div class="row justify-content-center pt-3">
    <div class="col-auto pb-3">
      <img src="~/images/om_header.png" width="220" height="220" />
    </div>
    <div class="col-auto pb-3 my-auto">
      <h1 class="text-primary">ClaraOriginal</h1>
      <h4>I'm not special, I am original. The original.</h4>
    </div>
  </div>
</div>

<main>
  <div class="container bg-medium mb-4 shadow-a">
    <div class="row">
      <div class="col-12 mt-3">
        <h2>Contact</h2>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 col-md-6">
        <img class="mr-1 clara-tile" src="~/images/GitHub-Mark.png" />
        <h2 class="text-primary">Github</h2>
        <p>Checkout my <a href="https://github.com/ultradr3mer">Github</a> Projects</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="mr-1 clara-tile" src="~/images/discord.png" />
        <h2 class="text-primary">Discord</h2>
        <p>Add me on Discord<br />SaferUse#5117</p>
      </div>
    </div>
  </div>
  <div class="container bg-medium mb-4 shadow-a">
    <div class="row">
      <div class="col-12 mt-2">
        <h2>Background overview</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>Professional</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile" src="~/images/eEvolution.jpg" />
          <h3 class="text-primary">Senior Software Developer</h3>
          <h4>eEvolution GmbH &amp; Co. KG</h4>
          <p><span class="text-primary">Current</span> since Feb 2015</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h3>Educational</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile" src="~/images/UniHildesheim.png" />
          <h3 class="text-primary">Informationsmanagement und Informationstechnologie (IMIT)</h3>
          <h4>Universität Hildesheim</h4>
          <p><span class="text-primary">Current</span> since Oct 2021</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container bg-medium mb-4 shadow-a">
    <div class="row">
      <div class="col-12 mb-3 mt-2">
        <h2>Selected projects overview</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mt-3">
        <h3 class="text-primary">Advanced Clipboard</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile-right" src="~/images/ClipboardIcon_rectangle.png" />
          <p>
            Advanced Clipboard is a tool that allows to organize share data between Windows and Android.
            <br />
            <br />Source on GitHub:
            <br /><a href="https://github.com/ultradr3mer/AdvancedClipboard.Wpf">AdvancedClipboard.Wpf</a>
            <br /><a href="https://github.com/ultradr3mer/AdvancedClipboard.Server">AdvancedClipboard.Server</a>
            <br /><a href="https://github.com/ultradr3mer/AdvancedClipboard.Android">AdvancedClipboard.Android</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-3">
        <h3 class="text-primary">Handshake</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile-right" src="~/images/handshake.png" />
          <p>
            Handshake is a social network build upon the Xamarin Framework.
            <br />
            <br />Source on GitHub:
            <br /><a href="https://github.com/ultradr3mer/handshakeClientCompatible">handshakeClientCompatible</a>
            <br /><a href="https://github.com/ultradr3mer/handshake">handshake</a>
            <br /><a href="https://github.com/ultradr3mer/handshakeClient">handshakeClient</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mt-3">
        <h3 class="text-primary">QEntangle</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile-right" src="~/images/qentangle.png" />
          <p>
            This website allows you to act depending on a quantum particle in a superposition and doing so put yourself in a superposition.
            <br />
            <br />Azure Instance:
            <br /><a href="https://qentangle.net/">qentangle.net</a>
            <br />
            <br />Source on GitHub:
            <br /><a href="https://github.com/ultradr3mer/QEntangle.Web">QEntangle.Web</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-3">
        <h3 class="text-primary">RegExRazorReplace</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile-right" src="~/images/rera_icon.png" />
          <p>
            Search and replace tool utilizing Regex for matching and Razor for generation.
            <br />
            <br />Source on GitHub:
            <br /><a href="https://github.com/ultradr3mer/RegExRazorReplace">RegExRazorReplace</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mt-3">
        <h3 class="text-primary">AddToWa</h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile-right" src="~/images/addtowa.png" />
          <p>
            Program to add single contacts to the green messenger.
            <br />
            <br />Source on GitHub:
            <br /><a href="https://github.com/ultradr3mer/AddToWA">AddToWA</a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-3">
        <h3 class="text-primary">
          Third party Spotify player
        </h3>
        <hr />
        <div>
          <img class="mr-1 clara-tile-right" src="~/images/spotifyuwp.png" />
          <p>
            My implementation of a third party Spotify player in UWP.
            <br />
            <br />Source on GitHub:
            <br /><a href="https://github.com/ultradr3mer/Spotify">ultradr3mer/Spotify</a>
          </p>
        </div>
      </div>
    </div>
</main>


