@{
  ViewData["Title"] = "Home";
}

<div class="container bg-dark">
  <div class="row mt-3">
    <div class="col-12 col-md-4 pb-3 my-auto">
      <div class="text-center">
        <img src="~/images/om_header.png" width="240" height="240" />
      </div>
    </div>
    <div class="col-12 col-md-8 pb-3 my-auto">
      <h1 class="text-center">ClaraOriginal</h1>
      <p class="text-center">I'm not special, I am orignal. The orignal.</p>
    </div>
  </div>
</div>

<main class="pb-3 pt-3 bg-medium">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
          <img class="float-left mr-3" src="~/images/GitHub-Mark.png" width="100" height="100" />
          <h3>Github</h3>
          <p>Checkout my <a href="https://github.com/ultradr3mer">Github</a> Projects</p>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <img class="float-left mr-3" src="~/images/discord.png" width="100" height="100" />
        <h3>Discord</h3>
        <p>SaferUse#5117</p>
      </div>
    </div>
  </div>
</main>


