@{
  ViewData["Title"] = "Timeline";
}

<main class="bg-dark pb-4">
  <div class="container mb-4">
    <div class="row justify-content-center pt-3">
      <div class="col-auto my-auto">
        <h1 class="text-primary text-center">Timeline</h1>
        <h4>Educational background and professional experience</h4>
      </div>
    </div>
  </div>
  <div class="container bg-medium mb-4">
    <div class="row">
      <div class="col-12 mt-2">
        <h2>Professional</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img class="mr-1 clara-tile" src="~/images/eEvolution.jpg" />
        <h3 class="text-primary">Senior Software Developer</h3>
        <h4>eEvolution GmbH &amp; Co. KG</h4>
        <p><span class="text-primary">Current</span> since Feb 2015</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <img class="mr-1 clara-tile" src="~/images/afterbuy.jpg" />
        <h3>Fachinformatikerin Anwendungsentwicklung i.A.</h3>
        <h4>ViA-Online GmbH</h4>
        <p>3 months, Nov 2014 - Jan 2015</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <img class="mr-1 clara-tile" src="~/images/servicealliance.png" />
        <h3>Fachinformatikerin Anwendungsentwicklung i.A.</h3>
        <h4>SA Service Alliance GmbH &amp; Co. KG</h4>
        <p>2 years and 6 months, Jul 2012 - Dec 2014</p>
      </div>
    </div>
  </div>
  <div class="container bg-medium">
    <div class="row">
      <div class="col-12 mt-2">
        <h2>Education</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img class="mr-1 clara-tile" src="~/images/UniHildesheim.png" />
        <h3 class="text-primary">Informationsmanagement und Informationstechnologie (IMIT)</h3>
        <h4>Universität Hildesheim</h4>
        <p><span class="text-primary">Current</span> since Oct 2021</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <img class="mr-1 clara-tile" src="~/images/bktm.png" />
        <h3>Fachinformatikerin Anwendungsentwicklung</h3>
        <h4>Berufskolleg Platz der Republik</h4>
        <p>2 years and 7 months, Jul 2012 - Jan 2015</p>
      </div>
    </div>
  </div>
</main>


