h1 {
  font-size: 5.2rem;
  font-weight: 100;
}

h2 {
  font-size: 2.7rem;
  font-weight: 200;
}

h3 {
  font-weight: 200;
}


.logo-div {
  position: relative;
}

body {
  font-family: 'Anek Tamil', sans-serif;
  font-size: 1.1em;
}

.logo {
  margin: 0;
  width: 50px;
  height: 50px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  margin-left: 1rem;
  color: black !important;
  font-weight: bold;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(230, 230, 230, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
  padding-left: .5rem;
}

.nav-centered {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  margin-bottom: 1rem;
}

.nav-btn-link {
  border: 0;
}

@media (max-width: 767.98px) {
  .navbar-expand-md.container, .navbar-expand-md.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}


.row-mlr-1 {
  margin-right: -.25rem;
  margin-left: -.25rem;
}

.col-plr-1 {
  padding-right: .25rem;
  padding-left: .25rem;
}

.equalize-bottom-margin {
  margin-bottom: -1rem;
}

.equalize-top-margin {
  margin-top: -1rem;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-top: 1px solid #555;
}

.row-righttoleft {
  float: right;
}

.btn-primary {
  color: black;
}

.floated-right-child {
  float: right;
  width: auto;
}

.floated-left-child {
  float: left;
  width: auto;
}

.footer-bullet {
  font-size: 1.5rem;
  line-height: 0.8rem;
}

.clara-tile {
  width: 150px;
  height: 150px;
  margin-right: 1rem !important;
  margin-bottom: 1rem !important;
}

.clara-tile-right {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem !important;
  margin-left: 1rem !important;
  float: right !important;
}

@media (min-width: 1200px) {
  .clara-tile {
    float: left !important;
  }

  .clara-tile-right {
    width: 150px;
    height: 150px;
  }
}
